@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/liberation-sans');

:root{
    --fuente_titulos: Itim, Arial, Helvetica, sans-serif;
    --fuente_principal: 'Liberation Sans', Arial, Helvetica, sans-serif;

    --background-color: #A7CCA8;
    --kinda-white: #FFFCEF;
    --logo:url('../Images/Logo.png');
    --text-color: #00695C;
    --verde-principal: #66BB6A;
    --kinda-black:#1c1c1c;
    --moradito: #C5B3FF;
    --grisaceo: #f0f0f0;
    --font-size: 1.6rem;
    --mobile-size: 480px;
    --tablet-size: 768px;
}



/*
Esto que pongo a continuación es para que un rem sea equivalente a 10px así 
que es más facil
*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}
body {
    font-family: var(--fuente_principal);
    font-size: 1.6rem;
    line-height: 1.8;
    background-color: var(--background-color);
}

a{
    text-decoration: none;
}

/*Ya aqui ya son globales*/

h1{
    font-family: var(--fuente_titulos);
    font-size: 5rem;
    margin: 0;
    line-height: 1;
    text-align: center;
    font-weight: normal;
}

h2{
    font-family: var(--fuente_titulos);
    font-size: 3.2rem;
}

h3{
    font-family: var(--fuente_titulos);
    font-size: 2.1rem;
}

p, label, input, button{
    font-family: var(--fuente_principal);
}

.button-verde{
    background-color: var(--verde-principal);
    font-weight: bold;
    display: inline-block;
    margin: auto;
    padding: 0.9rem 3rem;
    border-radius: 2rem;
    font-size: 1.3rem;
    border: none;
    box-shadow: 0px 3px 8px -1px rgba(0,0,0,0.50);
    transition: background-color 0.2s;
}

.button-verde:hover{
    background-color: #8cc48e;
}

.button-verde:active{
    background-color: #ffffff;
}

.flex-left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.flex-space-between{
    display: flex;

}

.form-input {
    font-size: 1.5rem;
    background-color: var(--grisaceo);
    border-radius: 4rem;
    padding: 0.8rem 1.5rem;
    border: 0.1rem solid black;
    box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.40);
}

.invisible{
    visibility: hidden;
}

.not-displayed{
    display: none;
}

.pantalla-carga{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.407);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.centro-pantalla{
    background-color: var(--kinda-white);
    display: flex;
    padding: 2rem;
    border-radius: 4rem;
    width: 80%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media(min-width: 1024px){
    .centro-pantalla{
        width: 40%;
    }
}

.centro-pantalla img{
    width: 40%;
    aspect-ratio: 1;
    
}