.ingredients-container {
    width: 50vw;
    background-color: beige;
}
.main-container-ingredientes {
    display: flex;
    flex-direction: row;
}

.ingrediente {
    display: flex;
    justify-content: space-evenly;
}