@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --background-color: #A7CCA8;
    --kinda-white: #FFFCEF;
    --logo:url('../Images/Logo.png');
    --text-color: #00695C;
    --kinda-black:#1c1c1c;
    --moradito: #C5B3FF;
}
* {
    font-family: "Roboto", Arial;
}
.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    height: fit-content;
    width: 50%;
    background-color: var(--kinda-white) ;
    padding: 2rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    display: flex;
    flex-direction: column;
}
.campo-form {
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.form-input {
    width: 100%;
    font-size: var(--font-size);
    margin-bottom: 1rem ;
}
