@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family:"Roboto", sans-serif;
    font-weight: 400;
}
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kinda-white);
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.116);
    margin-bottom: 2rem;
}
.logo {
    height: 100px;
    width: 165px;
    background-image: var(--logo);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.options{
    width: 50%;
}
.options ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.options ul a {
    text-decoration: none;
    color: var(--kinda-black);
    font-weight: 500;
}
.options ul .selected {
    text-decoration: none;
    color: var(--text-color);
}

@media (max-width:800px) {
    .options ul {
        justify-content: start;
        gap: 1rem;
        list-style-type: disc;
    }
}