.barra-busqueda{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 4rem;
    max-width: 140rem;

}

.form-input{
    width: 70%;
}

.button-verde{
    margin: 0;
}

#container-recetas {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    max-width: 200rem;
    margin: 0 auto;
}

.receta {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border-radius: 1rem ;
    background-color: beige;
    justify-content: space-around;
}

@media(min-width: 720px){
    #container-recetas{
        padding: 4rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .receta{
        padding: 2rem;
    }
}

@media(min-width: 1024px){
    #container-recetas{
        grid-template-columns: repeat(3, 1fr);
    }
    .receta{
        padding: 2rem;
    }
}



.receta img {
    width: 100%;
    aspect-ratio: 1.42;
    margin-bottom: 1rem;
    margin-top: 1rem;
}



.dificultad-receta-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font:var(--fuente_principal);
    font-size: 2rem;
}

